// ************************************************************************************ Import ********************************************************************************

@use "var";
@use "mixin";
@import url("https://fonts.cdnfonts.com/css/k2d");

// ************************************************************************************ Extends ********************************************************************************

%size-header-footer {
  height: 150px;
  background-color: var.$black-color;
}

// ************************************************************************************ Start ********************************************************************************

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  @include mixin.font(1.2rem, var.$white-color, var.$font-family, normal);
}

body {
  overflow: hidden;
}

header,
footer {
  @extend %size-header-footer;
}
header {
  @include mixin.position(relative, auto, auto, auto, auto, 0);
  @include mixin.flex(row, end, center, 0px);
}
.logo {
  @include mixin.figure(100px, 100px, transparent);
  @include mixin.position(absolute, 15%, auto, auto, 5%, 0);
}
nav {
  @include mixin.figure(50%, 100px, transparent);
  @include mixin.border(
    1px,
    solid,
    var.$third-dark-color,
    100px,
    100px,
    30px,
    30px
  );
  margin-right: 10%;
  span {
    @include mixin.figure(2px, 30px, transparent);
    @include mixin.border(1px, solid, var.$third-light-color, 0, 0, 0, 0);
  }
  li:hover {
    cursor: pointer;
    color: var.$primary-color;
  }
}
ul {
  height: 100%;
  @include mixin.flex(row, space-evenly, center, 0px);
}

main {
  @include mixin.figure(auto, calc(100vh - 300px), var.$secondary-color);
  @include mixin.flex(row, start, start, 0px);
}
aside {
  @include mixin.figure(30%, calc(90% + 150px), var.$black-color);
  @include mixin.border(0px, solid, transparent, 0, 20px, 0, 0);
  margin-top: calc(0.1 * (100vh - 300px));
  .playlist_title {
    @include mixin.figure(100%, 10%, transparent);
    @include mixin.flex(row, center, center, 0px);
    border-bottom: 1px solid var.$secondary-color;
  }
  .container_list-song {
    @include mixin.figure(100%, 90%, transparent);
    @include mixin.flex(row, start, start, 0px);
    direction: rtl;
    overflow-y: scroll;
    scrollbar-color: var.$secondary-light-color transparent;
    .list-song {
      @include mixin.figure(100%, 100%, transparent);
      @include mixin.flex(column, start, center, 0px);
      .song {
        width: 100%;
        direction: ltr;
        border-bottom: 1px solid var.$secondary-color;
        // white-space: nowrap;
        font-size: 1rem;
        cursor: pointer;
        padding: 5px 12px;
        text-align: left;
      }
      .song:hover {
        background-color: var.$secondary-dark-color;
      }
    }
  }
}
.container {
  @include mixin.figure(70%, 100%, transparent);
  @include mixin.flex(column, space-evenly, center, 0);
}
.song_info {
  @include mixin.figure(70%, 50px, var.$black-color);
  @include mixin.border(0px, solid, transparent, 20px, 20px, 20px, 20px);
  @include mixin.flex(row, center, center, 0);
  overflow: hidden;
  span {
    @include mixin.figure(30px, 2px, transparent);
    @include mixin.border(1px, solid, var.$third-light-color, 0, 0, 0, 0);
    margin: 0 10px;
  }
  li {
    white-space: nowrap;
  }
  ul {
    animation: Scroll 10s linear infinite;
  }
  @keyframes Scroll {
    0% { margin-left: 200%; }
    100% { margin-right: 200%; }
  }
}
.equaliser {
  @include mixin.figure(60%, 70%, var.$black-color);
}
footer {
  @include mixin.flex(row, center, center, 0);
}
button {
  @include mixin.figure(auto, auto, transparent);
  @include mixin.flex(row, center, center, 0);
  border: none;
  cursor: pointer;
}
.player {
  @include mixin.figure(45%, 100px, transparent);
  background: linear-gradient(var.$primary-light-color, var.$third-color);
  @include mixin.border(0px, solid, transparent, 50px, 50px, 100px, 100px);
  @include mixin.flex(column, space-evenly, center, 0);
  margin-left: 30%;
}
.time-line {
  @include mixin.figure(90%, auto, transparent);
  @include mixin.position(relative, auto, auto, auto, auto, 0);
  @include mixin.flex(row, space-between, center, 0);
  .timeline_input_range {
    @include mixin.figure(80%, 5px, transparent);
    border-radius: 20px;
    background: var.$black-color;
    cursor: pointer;
  }
  .timeline_input_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @include mixin.figure(15px, 15px, transparent);
    background: var.$black-color;
    border: 2px solid var.$white-color;
    cursor: pointer;
  }
  .timeline_input_range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    @include mixin.figure(15px, 15px, transparent);
    background: var.$black-color;
    border: 2px solid var.$white-color;
    cursor: pointer;
  }
  span {
    @include mixin.figure(35px, auto, transparent);
    border: none;
    @include mixin.font(
      0.5rem,
      var.$black-color,
      var.$font-family-bold,
      normal
    );
  }
}
.player-button {
  @include mixin.figure(90%, 70%, transparent);
  @include mixin.flex(row, space-evenly, center, 0);
  div {
    width: 20%;
    @include mixin.flex(row, space-evenly, center, 0);
  }
}
.sound_options {
  @include mixin.figure(30px, 30px, transparent);
  @include mixin.position(relative, auto, auto, auto, auto, 0);
}
.sound_btn {
  @include mixin.position(relative, auto, auto, auto, auto, 0);
  span {
    @include mixin.figure(50px, 65px, transparent);
    @include mixin.position(absolute, auto, auto, auto, 0, 0);
  }
}
.sound_input_range {
  @include mixin.figure(5px, 65px, transparent);
  @include mixin.position(absolute, auto, 10px, 0px, auto, 0);
  border-radius: 20px;
  background: var.$black-color;
  cursor: pointer;
}
.sound_input_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  @include mixin.figure(15px, 15px, transparent);
  background: var.$black-color;
  cursor: pointer;
}
.sound_input_range::-moz-range-thumb {
  @include mixin.figure(15px, 15px, transparent);
  background: var.$black-color;
  border: 2px solid var.$white-color;
  cursor: pointer;
}

// ************************************************************************************ Class JS ********************************************************************************
.JS-display_none {
  display: none;
}
.JS-current_song {
  color: var.$primary-light-color;
  background-color: var.$secondary-dark-color;
  box-shadow: inset;
}
.JS-current_playlsit{
  color: var.$primary-color;
}
