@import url("https://fonts.cdnfonts.com/css/k2d");
/* font-family: 'K2D', sans-serif;
font-family: 'K2D Thin', sans-serif;
font-family: 'K2D ExtraLight', sans-serif;
font-family: 'K2D Light', sans-serif;
font-family: 'K2D Medium', sans-serif;
font-family: 'K2D SemiBold', sans-serif;
font-family: 'K2D ExtraBold', sans-serif; */
header,
footer {
  height: 150px;
  max-height: 150px;
  background-color: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 1.2rem;
  color: #fbf5f3;
  font-family: "K2D Light", sans-serif;
  font-weight: normal;
}

body {
  overflow: hidden;
}

header {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 0px;
}

.logo {
  width: 100px;
  height: 100px;
  background-color: transparent;
  position: absolute;
  top: 15%;
  right: auto;
  bottom: auto;
  left: 5%;
  z-index: 0;
}

nav {
  width: 50%;
  height: 100px;
  background-color: transparent;
  border: 1px solid #df4254;
  border-radius: 100px 100px 30px 30px;
  margin-right: 10%;
}
nav span {
  width: 2px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #f6919c;
  border-radius: 0 0 0 0;
}
nav li {
  font-size: 2vw;
}
nav li:hover {
  cursor: pointer;
  color: #e16f7c;
}

ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0px;
}

main {
  width: auto;
  height: calc(100vh - 300px);
  background-color: #3e86ba;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0px;
}

aside {
  width: 30%;
  height: calc(90% + 150px);
  background-color: #222222;
  border: 0px solid transparent;
  border-radius: 0 20px 0 0;
  margin-top: calc(0.1 * (100vh - 300px));
}
aside .playlist_title {
  width: 100%;
  height: 10%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border-bottom: 1px solid #3e86ba;
}
aside .container_list-song {
  width: 100%;
  height: 90%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0px;
  direction: rtl;
  overflow-y: scroll;
  scrollbar-color: #64b4ef transparent;
}
aside .container_list-song .list-song {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0px;
}
aside .container_list-song .list-song .song {
  width: 100%;
  direction: ltr;
  border-bottom: 1px solid #3e86ba;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 12px;
  text-align: left;
}
aside .container_list-song .list-song .song:hover {
  background-color: #165482;
}

.container {
  width: 70%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
}

.this_song_info_container {
  width: 70%;
  height: 50px;
  background-color: #222222;
  border: 0px solid transparent;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  overflow: hidden;
}
.this_song_info_container span {
  width: 30px;
  height: 2px;
  background-color: transparent;
  border: 1px solid #f6919c;
  border-radius: 0 0 0 0;
  margin: 0 10px;
}
.this_song_info_container li {
  white-space: nowrap;
}
.this_song_info_container ul {
  animation: Scroll 10s linear infinite;
}
@keyframes Scroll {
  0% {
    margin-left: 200%;
  }
  100% {
    margin-right: 200%;
  }
}

.equalizer {
  width: 70%;
  height: 60%;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 0;
  border-radius: 25px;
  padding: 20px;
}
.equalizer .equalizer-bar {
  width: 6.66%;
  height: 90%;
  margin: 0 3px;
  display: flex;
  flex-direction: column-reverse;
}
.equalizer .equalizer-bar span {
  display: block;
  height: 5%;
  min-height: 1px;
  border-radius: 2px;
  width: 100%;
  margin: 2px 0;
  background-color: #FFF;
  transition: 0.2s ease all;
  opacity: 1;
}
.equalizer .equalizer-bar:nth-child(1) span {
  background: #fc0127;
}
.equalizer .equalizer-bar:nth-child(2) span {
  background: #fb0275;
}
.equalizer .equalizer-bar:nth-child(3) span {
  background: #b50cd3;
}
.equalizer .equalizer-bar:nth-child(4) span {
  background: #6407e9;
}
.equalizer .equalizer-bar:nth-child(5) span {
  background: #2a06a9;
}
.equalizer .equalizer-bar:nth-child(6) span {
  background: #080ad7;
}
.equalizer .equalizer-bar:nth-child(7) span {
  background: #0265e2;
}
.equalizer .equalizer-bar:nth-child(8) span {
  background: #03fcfc;
}
.equalizer .equalizer-bar:nth-child(9) span {
  background: #02fe46;
}
.equalizer .equalizer-bar:nth-child(10) span {
  background: #05fb0f;
}
.equalizer .equalizer-bar:nth-child(11) span {
  background: #97f611;
}
.equalizer .equalizer-bar:nth-child(12) span {
  background: #f5e506;
}
.equalizer .equalizer-bar:nth-child(13) span {
  background: #d7a414;
}
.equalizer .equalizer-bar:nth-child(14) span {
  background: #fc6b02;
}
.equalizer .equalizer-bar:nth-child(15) span {
  background: #df1506;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}

button {
  width: auto;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  border: none;
  cursor: pointer;
}

.player {
  width: 40%;
  height: 100px;
  background-color: transparent;
  background: linear-gradient(#ffa930, #e16f7c);
  border: 0px solid transparent;
  border-radius: 50px 50px 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  margin-left: 30%;
  max-width: 400px;
}

.time-line {
  width: 90%;
  height: auto;
  background-color: transparent;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.time-line .timeline_input_range {
  width: 80%;
  height: 5px;
  background-color: transparent;
  border-radius: 20px;
  background: #222222;
  opacity: 0.9;
  cursor: pointer;
}
.time-line .timeline_input_range:hover {
  opacity: 1;
}
.time-line .timeline_input_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: transparent;
  background: #222222;
  border: 2px solid #fbf5f3;
  cursor: pointer;
}
.time-line .timeline_input_range::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: transparent;
  background: #222222;
  border: 2px solid #fbf5f3;
  cursor: pointer;
}
.time-line span {
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  font-size: 0.5rem;
  color: #222222;
  font-family: "K2D", sans-serif;
  font-weight: normal;
}

.player-button {
  width: 80%;
  height: 70%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.player-button div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.player-button .btn_img {
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0.9;
}
.player-button .btn_img:hover {
  opacity: 1;
}

.sound_btn {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 0;
}
.sound_btn span {
  width: 50px;
  height: 65px;
  background-color: transparent;
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 0;
}

.sound_input_range {
  width: 5px;
  height: 65px;
  background-color: transparent;
  position: absolute;
  top: auto;
  right: 10px;
  bottom: 0px;
  left: auto;
  z-index: 0;
  border-radius: 20px;
  background: #222222;
  cursor: pointer;
}

.sound_input_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: transparent;
  background: #222222;
  cursor: pointer;
}

.sound_input_range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: transparent;
  background: #222222;
  border: 2px solid #fbf5f3;
  cursor: pointer;
}

.JS-display_none {
  display: none;
}

.JS-current_song {
  color: #ffa930;
}

.JS-current_playlsit {
  color: #e16f7c;
}

/*# sourceMappingURL=style.css.map */
