/* font-family: 'K2D', sans-serif;
font-family: 'K2D Thin', sans-serif;
font-family: 'K2D ExtraLight', sans-serif;
font-family: 'K2D Light', sans-serif;
font-family: 'K2D Medium', sans-serif;
font-family: 'K2D SemiBold', sans-serif;
font-family: 'K2D ExtraBold', sans-serif; */

$black-color: #222222;
$white-color: #fbf5f3;
$primary-color: #ea941c;
$primary-light-color: #ffa930;
$primary-dark-color: #da840c;
$secondary-color: #3e86ba;
$secondary-light-color: #64b4ef;
$secondary-dark-color: #165482;
$third-color: #e16f7c;
$third-light-color: #f6919c;
$third-dark-color: #df4254;
$font-family: "K2D Light", sans-serif;
$font-family-bold: "K2D", sans-serif;
